section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  background: url(src/assets/bubble.svg);
}
h1 {
  text-shadow: 0px 0px 10px var(--light-gray);
}
h3 {
  color: var(--dark-gray);
}
.search-box {
  background: var(--white);
  display: flex;
  box-shadow: 0px 0px 30px rgb(202, 202, 202, 0.3);
  margin: 10px 0;
  border-radius: 15px;
  padding: 7px;
  border: 2px solid var(--white);
  min-width: 200px;
  max-width: 320px;
}
.search-box:focus-within {
  border: 2px solid var(--light-gray);
}
.search-box button {
  background: var(--dark-blue);
  border: none;
  padding: 8px 10px;
  border-radius: 13px;
  box-shadow: 0px 0px 10px rgb(82, 145, 243, 0.5);
}
.search-box button:hover {
  background: var(--light-blue);
  transition: all 0.2s ease-in-out;
}
.search-box input:focus,
.search-box button:focus {
  outline: none;
}
.feather {
  color: var(--white);
}
.input {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}
@media only screen and (max-width: 568px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}
.input {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}
@media only screen and (max-width: 568px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}
