<section class="courses">
  <nav>
    <ul>
      <li><a>All</a></li>
      <li><a>Trending</a></li>
      <li><a>Categories</a></li>
    </ul>
  </nav>
  <div class="trending">
    <div class="course-list">
      <div class="img">
        <img
          src="../../../assets/photo.jpg"
          width="auto"
          height="auto"
          alt=""
        />
      </div>
      <div class="courses-details">
        <span>
          <h6>Histroy of art</h6>
          <h5>Humanities & Paint Arts</h5>
        </span>
        <span class="footer">
          <span>Total Page 30</span>
          <span><i data-feather="download"></i>93</span>
        </span>
      </div>
    </div>
    <div class="course-list">
      <div class="img">
        <img
          src="../../../assets/photo.jpg"
          width="auto"
          height="auto"
          alt=""
        />
      </div>
      <div class="courses-details">
        <span>
          <h6>Biology Basics</h6>
          <h5>Biology & The Scientific Method</h5>
        </span>
        <span class="footer">
          <span>Total Page 30</span>
          <span><i data-feather="download"></i>93</span>
        </span>
      </div>
    </div>
    <div class="course-list">
      <div class="img">
        <img
          src="../../../assets/photo.jpg"
          width="auto"
          height="auto"
          alt=""
        />
      </div>
      <div class="courses-details">
        <span>
          <h6>Histroy of art</h6>
          <h5>Humanities & Paint Arts</h5>
        </span>
        <span class="footer">
          <span>Total Page 30</span>
          <span><i data-feather="download"></i>93</span>
        </span>
      </div>
    </div>
    <div class="course-list">
      <div class="img">
        <img
          src="../../../assets/photo.jpg"
          width="auto"
          height="auto"
          alt=""
        />
      </div>
      <div class="courses-details">
        <span>
          <h6>Biology Basics</h6>
          <h5>Biology & The Scientific Method</h5>
        </span>
        <span class="footer">
          <span>Total Page 30</span>
          <span><i data-feather="download"></i>93</span>
        </span>
      </div>
    </div>
    <div class="course-list">
      <div class="img">
        <img
          src="../../../assets/photo.jpg"
          width="auto"
          height="auto"
          alt=""
        />
      </div>
      <div class="courses-details">
        <span>
          <h6>Biology Basics</h6>
          <h5>Biology & The Scientific Method</h5>
        </span>
        <span class="footer">
          <span>Total Page 30</span>
          <span><i data-feather="download"></i>93</span>
        </span>
      </div>
    </div>
    <div class="course-list">
      <div class="img">
        <img
          src="../../../assets/photo.jpg"
          width="auto"
          height="auto"
          alt=""
        />
      </div>
      <div class="courses-details">
        <span>
          <h6>Biology Basics</h6>
          <h5>Biology & The Scientific Method</h5>
        </span>
        <span class="footer">
          <span>Total Page 30</span>
          <span><i data-feather="download"></i>93</span>
        </span>
      </div>
    </div>
    <div class="course-list">
      <div class="img">
        <img
          src="../../../assets/photo.jpg"
          width="auto"
          height="auto"
          alt=""
        />
      </div>
      <div class="courses-details">
        <span>
          <h6>Biology Basics</h6>
          <h5>Biology & The Scientific Method</h5>
        </span>
        <span class="footer">
          <span>Total Page 30</span>
          <span><i data-feather="download"></i>93</span>
        </span>
      </div>
    </div>
  </div>
  <span></span>
</section>
