<section class="profile">
  <div class="profile-left">
    <span class="profile-icon-nav">
      <i data-feather="settings"></i>
      <i data-feather="log-out"></i>
    </span>
    <span class="profile-details">
      <img
        src="../../../assets/photo.jpg"
        width="100px"
        height="100px"
        alt=""
      />
      <h3>Vibhav Raj</h3>
    </span>
    <br />
    <span class="profile-icon-nav">
      <span>
        <i data-feather="thumbs-up"></i>
        <p>Liked</p>
      </span>
      <span>
        <i data-feather="bookmark"></i>
        <p>Favourite</p>
      </span>
      <span>
        <i data-feather="download"></i>
        <p>Downloaded</p>
      </span>
    </span>
    <ul>
      <li>
        <a>
          <span>Update Profile</span>
          <i data-feather="chevron-right"></i>
        </a>
      </li>
      <li>
        <a>
          <span>Feedback</span>
          <i data-feather="chevron-right"></i>
        </a>
      </li>
    </ul>
    <span class="profile-icon-nav">
      <h5>Follow Us</h5>
      <span>
        <i data-feather="facebook"></i>
        <i data-feather="instagram"></i>
        <i data-feather="share-2"></i>
      </span>
    </span>
    <footer>
      <p>Coypright resreved by @Vibhav Raj</p>
    </footer>
  </div>
  <div class="profile-right">
    <i data-feather="arrow-left"></i>
    <i data-feather="book-open"></i>
    <i data-feather="bookmark"></i>
    <i data-feather="calendar"></i>
    <i data-feather="bookmark"></i>
    <i data-feather="trash-2"></i>
    <i data-feather="thumbs-up"></i>
    <i data-feather="tag"></i>
    <i data-feather="share-2"></i>
    <i data-feather="save"></i>
    <i data-feather="refresh-cw"></i>
    <i data-feather="send"></i>
    <i data-feather="log-out"></i>
    <i data-feather="filter"></i>
    <i data-feather="facebook"></i>
  </div>
</section>
